.cabecera{
    width: 960px;
    margin: auto;
    background: #E5E5E5;
    padding: 10px 0;
}

.logo-cabecera{
    margin-top: 1%;
    margin-left: 5%
}

.titulo-cabecera{
    position: absolute;
    top: 40px;
    right: 40%;
    color: #0A3871;
    font-weight: bold;
    font-size: 30px;    
}

.cuerpo{
    width: 960px;
    height: 540px;
    margin: auto;
    background: #E5E5E5;
    
}

.cuerpo-texto{
    float: left;
    width: 65%;
    height: 100%;
    background: #E5E5E5;
}

#texto{
    height: 35em;
    width: 95%;
    margin-left: 10px;
    margin-top: 4px;
    background: #E5E5E5;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    color: #0A3871;
}

#logo-texto{
    position: absolute;
    margin-left: 70px;
    margin-top: 2px;
    height: 18px;
}

#pie-texto{
    margin-left: 90px;
    margin-top: 4px;
    color: #0A3871;
    font-weight: bold;
    font-size: 12px;
}

#Encriptar{
    width: 220px;
    height: 50px;
    margin-left: 70px;
    margin-top: 20px;
    color: whitesmoke;
    background: #0A3871;
    border-radius: 15px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

#Encriptar:hover{
    transform: scale(1.2);
    border-color: #0A3871; 
}

#Desencriptar{
    width: 220px;
    height: 50px;    
    color: #0A3871;
    background: whitesmoke;
    border-radius: 15px;
    border-color: #0A3871;
    transition: 1s all;
    cursor: pointer;
}

#Desencriptar:hover{
    transform: scale(1.2);
    border-color: #0A3871; 
}

.right{
    float: right;
    width: 34%;
    height: 98%;
    background: #FFFFFF;
    margin-right: 8px;
    border-radius: 15px;
}

.texto-salida{
    background: #FFFFFF;
    margin-top: 13px;
    margin-left: 12px;
    margin-right: 12px;
    height: 83%;
    border-bottom-left-radius: 15px;
    border: none;
    overflow-y: scroll;
    color: #0A3871;
}

#logo-salida{
    width: 80%;
    margin-top: 80px;
    margin-left: 20px;
}

#texto1-salida{
    font-size: 30px;
    font-weight: bold;
    color: #0A3871;
    text-align: center;
}

#texto2-salida{
    font-size: 15px;
    font-weight: bold;
    color: #0A3871;
    text-align: center;
}

#copiar{
    width: 220px;
    height: 50px;
    margin-left: 60px;
    margin-top: 20px;
    color: whitesmoke;
    background: #0A3871;
    border-radius: 15px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.foot{
    background: #E5E5E5;
    width: 960px; 
    height: 20px;   
    margin: auto;
}

#texto-foot{
    text-align: center;
    position: relative;
    color: #0A3871; 
    font-size: 12px;
}


@media screen and (max-width: 600px){

    body{
        background: #E5E5E5;
    }

    .cabecera {
        width: auto;
        margin: auto;
        padding: 20px 0;
    }

    .titulo-cabecera{
        position: absolute;
        top: 40px;
        right: 15%;
        font-size: 20px;
    }

    .cuerpo{
        width: auto;
    }

    .cuerpo-texto, .cuerpo-botones{
        width:100%;
    }

    #texto{
        height: 30em;
        width: 27em;
        margin-left: 10px;
        margin-top: 4px;
    }

    #Encriptar, #Desencriptar{
        width: 90%;
        margin-left: 10px;
    }
    .right{
        float: left;
        height:200px;
        width: 100%;
        background: #E5E5E5;
    }

    .texto-salida{
        border-radius: 2px;
    }

    #logo-salida{
        visibility: hidden;
        height: 0px;
        margin: 0;
    }

    #texto1-salida{
        font-size: 30px;
        margin: auto;
        display:flex;
        position:relative;       
    }
    
    #texto2-salida{
        font-size: 15px;
        margin: auto;
        display:flex;
        position:relative;
        text-align: center; 
    }

    .cuerpo-copiar{
        background: #E5E5E5; 
    }

    .foot{
        width: 100%;
        position: absolute;
        margin-top: 19em;
    }

}
